---
import logo from '../images/logo.svg';
import '../styles/header.css';
---

<header class='header'>
  <div class='container'>
    <nav>
      <ul>
        <li><a href='/#services'>services</a></li>
        <li><a href='/#work'>past work</a></li>
        <li><a href='/#about'>about me</a></li>
      </ul>
      <div class='logo'>
        <a href='/'>
          <img src={logo.src} alt='Logo' />
        </a>
      </div>
      <ul>
        <li><a href='/#contact'>contact</a></li>
        <li><a href='tel:07403315019'>call now: 07403315019</a></li>
      </ul>
    </nav>
  </div>
</header>
