---
import heroImg from '../images/hero.webp';
import '../styles/hero.css';
import { Image } from 'astro:assets';

export interface Props {
  headingOne?: string;
  headingTwo?: string;
  headingThree?: string;
}

const {
  headingOne = 'morgan mcdonald',
  headingTwo = 'front-end developer',
  headingThree = 'ayrshire, scotland',
} = Astro.props as Props;
---

<div class="hero">
  <div class='hero__text'>
    <div class='hero__text__wrapper container'>
      <h1>{headingOne}</h1>
      <h2>{headingTwo}</h2>
      <h3>{headingThree}</h3>
    </div>
  </div>

  <div class="hero__image">
    <Image src={heroImg} alt='Man doing plumbing things' class='img' width={1200} height={800} />
  </div>
</div>